---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Security researcher focused on mobile application security, reverse engineering, and vulnerability research."
	pubDate={new Date('March 30 2026')}
>
	<p>
		Hi, I’m George aka droidNinja, a security researcher and penetration tester focused on Android and iOS
		application security, reverse engineering, and vulnerability research. Working as a Bandit at Payatu.
	</p>
	<p>
		“Curiosity is the spark that turns questions into discovery.”
	</p>

</Layout>